target/
.DS_Store
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/EXPERIMENTS.csv
/EXPERIMENTS.md
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
.flattened-pom.xml
.idea/
.java-version
/stream-performance-evaluation/run
/debug.log
.vscode/settings.json
