target/

/.idea/.gitignore
/src/main/java/io/github/sparqlanything/fxbgp/extractor/BGPExtractor.java
/.idea/compiler.xml
/.idea/encodings.xml
/EXPERIMENTS.csv
/EXPERIMENTS.md
/src/main/java/io/github/sparqlanything/fxbgp/FXJoin.java
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
